/* CSS Page CV */

textarea {
  width: 100%;
}

.pdfobject {
  width: 100%;
  max-width: 600px;
  height: 600px;
  margin: 2em 0;
  border: 1px solid #666;
}

#apropos {
  margin-left: 10px;
}

#hobby {
  width: auto;
  height: auto;
}
