/*Footer du site*/

.footer {
  font-size: 0.9em;
  background-color: #444444;
  color: #ffffff;
}

.footerlink {
  text-decoration: none;
  color: white;
}

.footerlink:hover {
  text-decoration: none;
  color: lightpink;
}