/*Header du Site (Layout User)*/

/*Première partie du header | Logo Rezalps + Icones + Avatar */

#logo_header {
  height: 65px;
}

#block_btn_droit {
  text-align: end;
  margin-right: 10px;
}

#dropdownMenuButton {
  width: 40px;
  height: 40px;
}

.header-top {
  background: #444444;
}

.bordertop {
  border: 1px black solid;
  margin: auto;
}

/* Deuxième partie du Header | Liste des amis + Fonction de recherche*/

#header_list_contact {
  border-top: 1px solid lightgrey;
  padding: 8px 0 8px 0;
  background-color: rgba(68, 68, 68, 0.8);
}

.img-contact {
  border: 1px solid lightgrey;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

#search-barre {
  justify-content: flex-end;
}