/*CSS Page Réseau */
.img_contact {
  border: 1px solid lightgrey;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#profsug {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 1%;
}

#profamis {
  border-radius: 1%;
}

#profent {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 1%;
}
